# Coq related
*.glob
*.vo
*.vok
*.vos
*.aux
*.cache

# OCaml related
*.cmi
*.cmo
*.cmx
_build/
extraction/lib/*.ml
extraction/lib/*.mli

# vscode related
/.vscode/
*.code-workspace

# others
.depend
.DS_Store
