# Coq related
*.glob
*.vo
*.vok
*.vos
*.aux
*.cache
Makefile.coq
CoqMakefile.conf
Makefile.coq.conf
.Makefile.coq.d

# OCaml related
*.cmi
*.cmo
*.cmx
_build/
extraction/lib/*.ml
extraction/lib/*.mli

# vscode related
/.vscode/
*.code-workspace

# others
.depend
.DS_Store
__pycache__/
